@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700|Righteous");

.webTitle {
  font-family: "Righteous", sans-serif;
  font-weight: 900;
  letter-spacing: 3px;
  font-size: 50px;
  color: #d62828;
  margin: 0 auto;
}
