.imageOne {
    left: 100px;
    height: 50px;
    opacity: 1;
    pointer-events: auto;
    transition-delay: .5s;
    display: flex;
    margin: auto;
  }

  .imageTwo {
    left: 100px;
    height: 50px;
    opacity: 1;
    pointer-events: auto;
    transition-delay: .5s;
    display: flex;
    margin: auto;
  }
