.app-container {
  display: grid;
  grid-template-rows: 20% 70% 10%;

  grid-template-areas: "Title" "Card" "Footer";

  align-items: center;
  justify-items: center;
  width: 100%;
}

.app-webTitle {
  grid-area: Title;
}

.app-cardHolder {
  grid-area: Card;
}

.app-footer {
  grid-area: Footer;
  justify-self: end;
}
